In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_path = r'C:\Users\Toshiba P55w\sentiment labelled sentences\sentiment labelled sentences\yelp_labelled.txt'
yelp = pd.read_csv(data_path, delimiter='\t', header=None)
yelp.columns = ['Review', 'Positive']
yelp.head()

                                              Review  Positive
0                           Wow... Loved this place.         1
1                                 Crust is not good.         0
2          Not tasty and the texture was just nasty.         0
3  Stopped by during the late May bank holiday of...         1
4  The selection on the menu was great and so wer...         1

# Goal: build a naive bayes classifier that predicts whether a review is positive or negative

## Feature engineering overview:
I am going to identify words that are used a lot more in one type of review than the other. For each one of these words there will be a feature that shows whether the review contains the word.

In [3]:
yelp['Word_list'] = yelp['Review'].str.lower().str.replace(r'[^\w\s]', '',).str.strip().str.split()

In [4]:
yelp.head()

,Review,Positive,Word_list
0,Wow... Loved this place.,1,"[wow, loved, this, place]"
1,Crust is not good.,0,"[crust, is, not, good]"
2,Not tasty and the texture was just nasty.,0,"[not, tasty, and, the, texture, was, just, nasty]"
3,Stopped by during the late May bank holiday of...,1,"[stopped, by, during, the, late, may, bank, ho..."
4,The selection on the menu was great and so wer...,1,"[the, selection, on, the, menu, was, great, an..."

In [5]:
word_count_positive_dct = {}

word_count_negative_dct = {}

#turn every column into list of words. steps: lower case, replace nonalphanumeric chars with space, strip, split at spaces
review_word_list_positive = yelp[yelp['Positive']==1]['Word_list']

review_word_list_negative = yelp[yelp['Positive']==0]['Word_list']
#iterate through word lists and count words in dictionary
for review in review_word_list_positive:
    for word in review:
        word_count_positive_dct.setdefault(word, 0)
        word_count_positive_dct[word] +=1

for review in review_word_list_negative:
    for word in review:
        word_count_negative_dct.setdefault(word, 0)
        word_count_negative_dct[word] +=1

In [6]:
all_words = set(list(word_count_positive_dct.keys())+list(word_count_negative_dct.keys()))
word_counts = pd.DataFrame(list(all_words), columns=['Word'])

word_counts['Positive_count'] = word_counts['Word'].apply(lambda x: word_count_positive_dct.get(x, 0))
word_counts['Negative_count'] = word_counts['Word'].apply(lambda x: word_count_negative_dct.get(x, 0))
word_counts['Total_count'] = word_counts['Positive_count'] + word_counts['Negative_count']

# ratio of reviews word is in that are positive
word_counts['P_ratio'] = round(word_counts['Positive_count']/(word_counts['Positive_count'] + word_counts['Negative_count']),4)

# ratio of reviews word is in that are negative
word_counts['N_ratio'] = round(word_counts['Negative_count']/(word_counts['Positive_count'] + word_counts['Negative_count']),4)


# use words that show up in one type of review at a minimum ratio and that show up in all review a minimum number of times
min_ratio = .8
min_total_count = 5
keywords_df = word_counts[((word_counts['P_ratio'] > min_ratio) | (word_counts['N_ratio'] > min_ratio)) &
                          (word_counts['Total_count'] > min_total_count)
                         ]

keywords_df

,Word,Positive_count,Negative_count,Total_count,P_ratio,N_ratio
22,awesome,12,0,12,1.0000,0.0000
74,5,7,1,8,0.8750,0.1250
90,waited,0,10,10,0.0000,1.0000
100,town,7,0,7,1.0000,0.0000
104,prices,9,1,10,0.9000,0.1000
177,her,0,6,6,0.0000,1.0000
195,delicious,23,0,23,1.0000,0.0000
197,great,70,0,70,1.0000,0.0000
243,think,3,13,16,0.1875,0.8125
246,fantastic,12,0,12,1.0000,0.0000
247,hour,1,5,6,0.1667,0.8333
270,nothing,1,6,7,0.1429,0.8571
352,cold,1,8,9,0.1111,0.8889
355,horrible,0,6,6,0.0000,1.0000
461,being,1,13,14,0.0714,0.9286
526,before,1,8,9,0.1111,0.8889
569,bland,0,11,11,0.0000,1.0000
624,probably,0,10,10,0.0000,1.0000
741,cooked,6,1,7,0.8571,0.1429
742,no,2,23,25,0.0800,0.9200
764,minutes,0,19,19,0.0000,1.0000
773,beer,7,1,8,0.8750,0.1250
817,money,0,6,6,0.0000,1.0000
819,worst,1,13,14,0.0714,0.9286
826,tender,6,0,6,1.0000,0.0000
835,bad,0,18,18,0.0000,1.0000
872,happy,8,0,8,1.0000,0.0000
907,friendly,23,3,26,0.8846,0.1154
909,wasnt,0,13,13,0.0000,1.0000
916,twice,5,1,6,0.8333,0.1667
...,...,...,...,...,...,...
1234,rude,0,8,8,0.0000,1.0000
1250,overpriced,0,8,8,0.0000,1.0000
1273,took,0,8,8,0.0000,1.0000
1290,then,1,8,9,0.1111,0.8889
1415,never,4,22,26,0.1538,0.8462
1455,wonderful,7,0,7,1.0000,0.0000
1474,perfect,10,0,10,1.0000,0.0000
1485,love,16,3,19,0.8421,0.1579
1520,another,1,9,10,0.1000,0.9000
1521,bit,1,7,8,0.1250,0.8750
1543,amazing,21,2,23,0.9130,0.0870
1572,management,0,6,6,0.0000,1.0000
1575,loved,10,0,10,1.0000,0.0000
1587,slow,0,11,11,0.0000,1.0000
1634,impressed,1,7,8,0.1250,0.8750
1749,done,1,5,6,0.1667,0.8333
1780,spot,8,0,8,1.0000,0.0000
1839,every,8,1,9,0.8889,0.1111
1866,dont,3,25,28,0.1071,0.8929
1912,do,2,10,12,0.1667,0.8333
1964,inside,6,1,7,0.8571,0.1429
1971,nice,22,3,25,0.8800,0.1200
2025,not,18,98,116,0.1552,0.8448
2027,family,6,1,7,0.8571,0.1429
2040,excellent,10,0,10,1.0000,0.0000
2044,terrible,0,10,10,0.0000,1.0000
2052,hard,0,6,6,0.0000,1.0000
2070,attentive,6,1,7,0.8571,0.1429
2078,much,3,15,18,0.1667,0.8333
2079,atmosphere,9,1,10,0.9000,0.1000

In [7]:
keywords = list(keywords_df['Word'])

for key in keywords:
    
    yelp[str(key)] = yelp['Word_list'].apply(lambda x: key in x)

In [8]:
data = yelp[keywords]
target = yelp['Positive']

# Our data is binary / boolean, so we're importing the Bernoulli classifier.
from sklearn.naive_bayes import BernoulliNB

# Instantiate our model and store it in a new variable.
bnb = BernoulliNB()

# Fit our model to the data.
bnb.fit(data, target)

# Classify, storing the result in a new variable.
y_pred = bnb.predict(data)

# Display our results.
print("accuracy : {}".format(
    (target == y_pred).sum()/data.shape[0]
))

accuracy : 0.792